doctype html

head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="js/jquery-3.2.0.js" defer)
  script(src="js/main.js" defer)
  link(rel="stylesheet" href="css/normalize.css")
  link(rel="stylesheet" href="css/font-awesome.css")
  link(rel="stylesheet" href="css/main.css")
  title blinklv's portfolio

body
  header
    .logo
      img(src="img/logo-s.jpg" alt="logo")

    .title
      h1 Blink Lv
      p Welcome To My Portfolio

  main
      mixin bin(src)
        .bin
          figure
            picture
              - 
                var alt = src.replace(/\.[^/.]+$/, "");
                var small = "img/" + src.replace(/\.([^/.]+)$/, "-m.$1");
                var medium = "img/" + src.replace(/\.([^/.]+)$/, "-l.$1");
                var large = "img/" + src.replace(/\.([^/.]+)$/, "-xl.$1");

              source(media="(max-width:424px)" srcset=small)
              source(media="(max-width: 768px)" srcset=medium)
              img(src=large alt=alt)

            - 
              var description = descriptions[alt + ".txt"] || "There is nothing";
              var description = description.replace(/\r\n|\r|\n/gm, "");
            figcaption 
              p #{description}
              .tag
                i(class="fa fa-thumbs-up" aria-hidden="true")
                i(class="fa fa-star" aria-hidden="true")
                i(class="fa fa-download" aria-hidden="true")

      - 
        var imgs = Object.keys(files.img).reduce(function(arr, key) {
          // The key must be number.
          if ( /[0-9]+/.test(key) ) {
            var val = files.img[key];
            if (! (/logo/.test(val)) ) {
              arr.push(val);
            }
          }
          return arr;
        }, []);

        var descriptions = files.img.description;
        var top = 0;
        var n = imgs.length;

      - for ( var i = 0; top < n && i < 3; ++i )
        .bulk
          if i == 0
            +bin(imgs[top])
            - ++top;
          else if i == 1
            - for ( var j = 0; top < n && j < 2; ++j, ++top )
              +bin(imgs[top])
          else
            - for ( ; top < n; ++top )
              +bin(imgs[top])

  footer
    #author
      span Portfolio - Created by 
      a(href="#") Blink Lv

    .link
      i(class="fa fa-facebook-square" aria-hidden="true")
      i(class="fa fa-twitter" aria-hidden="true")
      i(class="fa fa-wechat" aria-hidden="true")
      i(class="fa fa-github" aria-hidden="true")
